<% cache ["pot_list_v1", pot] do %>
  <div
    class="pot-summary pot-summary--<%= pot.state %>-budget"
    id="<%= dom_id(pot) %>"
    data-target="pot-list.pot"
    data-name="<%= pot.name.downcase %>">
    <h2>
      <%= pot.name %>
      <small>
        <%= pot.budget_remaining.abs.format %> <%= pot.state == :over ? "over budget" : "remaining" %>
      </small>
    </h2>
    <div class="pot-summary--budget-progress">
      <div
         class="progress-bar"
         style="width: <%= [pot.percent_consumed.round, 100].min %>%"
         role="progressbar"
         aria-valuenow="<%= [pot.percent_consumed.round, 100].min %>"
         aria-valuemin="0"
         aria-valuemax="100">
      </div>
    </div>
  </div>
<% end %>
