<% cache ["pot-summary", pot] do %>
  <%= content_tag :div, {
    class: ["pot-summary", "pot-summary--#{pot.state}-budget"].join(" "),
    id: dom_id(pot),
    data: {
      name: pot.name.downcase,
      target: "pot-list.pot",
    }
  } do %>
    <h2>
      <%= pot.name %>
      <small>
        <%= pot.budget_remaining.abs.format %> <%= pot.state == :over ? "over budget" : "remaining" %>
      </small>
    </h2>
    <div class="pot-summary--budget-progress">
      <%= tag :div, {
        class: "progress-bar",
        style: {
          width: "#[progress(pot.percent_consumed)}%",
        },
        aria: {
          valuenow: progress(pot.percent_consumed),
          valuemin: 0,
          valuemax: 100,
        }
      } %>
    </div>
  <% end %>
<% end %>
